Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Stroustrup
IndentWidth: 4
PackConstructorInitializers: Never
PointerAlignment: Middle
SpaceAfterCStyleCast: true
